{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="container">
        <h1>Dashboard</h1>
        <p>Welcome, {{ admin_username }}!</p>
        <p>Total posts: {{ num_posts }}</p>
        <a href="{{github_page}}" class="button">GitHub</a>
        <a href="{{codepen_page}}" class="button">CodePen</a>
        <a href="{{most_recent_post}}" class="button">Most Recent</a>
        <a href="{{ url_for('create') }}" class="button">Create Post</a>
    </div>
{% endblock body %}