form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 3px solid var(--colour-primary);
    border-radius: 1em;

}

form:before {
    content: "Login";
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--colour-primary);
    margin-bottom: 1em;
}

text-area {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.form-group {
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}


