:root{
    --colour-background: #08090A;
    --colour-background-alt: #222823;
    --colour-primary: #E8C547;
    --colour-secondary: #087CA7;
    --colour-text: #fff;
    --colour-alt-text: #000;
    padding: auto;
    margin: auto;
    background-color: var(--colour-background);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--colour-text);
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    padding: 1rem 2rem;
}

.button {
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin: 0 1rem;
    color: var(--colour-background);
    background-color: var(--colour-primary);
    transition: all 0.3s ease;

}

.button:hover {
    background-color: var(--colour-secondary);
}


