<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<nav>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="{{ url_for('blog_routes.blog') }}">Blog</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('page_routes.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('login_routes.logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ url_for('page_routes.about') }}">About</a></li>
        <li><a href="{{ github_page }}" target="_blank" rel="noopener noreferrer nofollow">GitHub </a></li>
        <li><a href="{{ codepen_page }}" target="_blank" rel="noopener noreferrer nofollow">CodePen </a></li>
        <li><a href="{{ url_for('login_routes.login') }}">Login</a></li>
        {% endif %}
    </ul>
    <button>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
    </button>
</nav>