<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
<nav>
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="{{ url_for('blog') }}">Blog</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
        <li><a href="https://github.com/AlyceOsbourne" target="_blank" rel="noopener noreferrer">GitHub </a></li>
        <li><a href="https://codepen.io/alyceosbourne" target="_blank" rel="noopener noreferrer">CodePen </a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
    </ul>
    <button>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
    </button>
</nav>